<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">{{titulo | translate}}</h4>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">list</i>
              </div>
              <div class="row"><h3>
                {{'listaSeries' | translate}}
              </h3></div>
              <div class="row"><p>&nbsp;</p></div>
              <nav class="navbar navbar-info" role="navigation"></nav>
              <div class="row"><p> &nbsp; </p></div>
              <app-data-table
                #tablaNormal
                (iniciarData)="iniciarDataTabla($event)"
                [idTabla]="'tablaSeries'"
                [habilitarAgregar]="true"
                (agregar)="agregarSerie()"
                [columnas]="columnasTabla"
                [acciones]="accionesTabla"
                (accion)="ejecutarAccion($event)"
                [tipoAccion]="tipoAccion"
                [habilitarAcciones]="true"
                [habilitarCheckBox]="true"
                [habilitarEliminar]="true"
                [nombreIdDelItem]="nombreIdDelItem"
                [usaServicio]="true"
                [servicio]="_seriesService"
                [parametros]="parametrosSeries"
                [tipoAtributoServicio]="tipoConsultaRetencion"
                [urlServicio]="urlServicio">
              </app-data-table>
            </div>
            <div class="row"> <p> &nbsp;</p></div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group pull-right">
                <button type="button"  class="btn btn-default blue" name="btnBuscar" (click)="regresar()"> {{'regresar' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-series-crear-editar
  #editarItemComponent
  [idModal]="idModal"
>
</app-series-crear-editar>
