<div class="row col-md-12">
  <div class="card">
    <div class="card-header card-header-text" data-background-color="blue">
      <h4 class="card-title">{{'vistaPrevia' | translate}}</h4>
    </div>
    <div class="card-content" *ngIf="percepcionAuxiliar">

        <div class="row">
            <div class="col-md-4 left">
                  <!-- Muestra de la empresa emisora, agregar metodo que recupera url del logo de localstorage, ver ejemplo menu -->
                  <!-- <div class="logoVisualizar">
                    <img src="{{urlLogo}}">
                  </div> -->
              <label>
                <b *ngIf="percepcionAuxiliar.entidadEmisora">{{percepcionAuxiliar.entidadEmisora.denominacion}}</b>
                <!-- <b>{{percepcionAuxiliar.entidadEmisora.denominacion}}</b> -->
              </label>
              <br>
              <label>
                <b>{{percepcionAuxiliar.entidadEmisora.direccionFiscal}}</b>
              </label>
            </div>
            <div class="col-md-4 col-md-offset-4 center">
              <div class="col-md-12 borde-simple">
                <label>
                  <!-- <b *ngIf="percepcionAuxiliar.entidadEmisora">{{percepcionAuxiliar.entidadEmisora.direccionFiscal}}</b> -->
                  <b>{{'rucNumero'| translate}}: {{percepcionAuxiliar.entidadEmisora.documento}}</b>
                </label>
                <br>
                <label>
                  <!-- <b>{{'retencion' | translate | uppercase}} {{'baseComprobanteElectronica' | translate | uppercase}}</b> -->
                  <b>{{tituloComprobante | translate | uppercase}}</b>
                </label>
                <br>
                <label>
                    <b>{{'serie'| translate}}:  {{percepcionAuxiliar.cabecera.serie.serie}}</b>
                </label>
              </div>
            </div>
          </div>

      <!-- <div class="row">
        <div class="col-md-4">
          <label>
            <h5>
              <b *ngIf="percepcionAuxiliar.entidadEmisora">{{percepcionAuxiliar.entidadEmisora.denominacion}}</b>
            </h5>
          </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-4">
              <label>
                <h4>
                  <b>{{'ruc' | translate}}:</b>
                </h4>
              </label>
            </div>
            <div class="col-md-8">
              <label>
                <h5 *ngIf="percepcionAuxiliar.entidadEmisora">{{percepcionAuxiliar.entidadEmisora.documento}}</h5>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>
            <h5>
              <b *ngIf="percepcionAuxiliar.entidadEmisora">{{percepcionAuxiliar.entidadEmisora.direccionFiscal}}</b>
            </h5>
          </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label>
            <h3>
              <b>{{tituloComprobante | translate | uppercase}}</b>
            </h3>
          </label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <div class="row">
            <div class="col-md-4">
              <label>
                <h3>
                  <b>{{'serie' | translate}}:</b>
                </h3>
              </label>
            </div>
            <div class="col-md-8">
              <label>
                <h3>{{percepcionAuxiliar.cabecera.serie.serie}}</h3>
              </label>
            </div>
          </div>
        </div>
      </div> -->

      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>
                <b>{{'seniorSeniors' | translate}}:</b>
              </label>
            </div>
            <div class="col-md-6">
              <label *ngIf="percepcionAuxiliar.entidadReceptora">{{percepcionAuxiliar.entidadReceptora.denominacion}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>
                <b>{{'ruc' | translate}}:</b>
              </label>
            </div>
            <div class="col-md-6">
              <label *ngIf="percepcionAuxiliar.entidadReceptora">{{percepcionAuxiliar.entidadReceptora.documento}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>
                <b>{{'domicilioFiscal' | translate}}:</b>
              </label>
            </div>
            <div class="col-md-6">
              <label *ngIf="percepcionAuxiliar.entidadReceptora">{{percepcionAuxiliar.entidadReceptora.direccionFiscal}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>
                <b>{{'fechaEmision' | translate}}:</b>
              </label>
            </div>
            <div class="col-md-6">
              <label>{{formatoFechaEmision}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>
                <b>{{'tipoMoneda' | translate}}:</b>
              </label>
            </div>
            <div class="col-md-6">
              <label>{{percepcionAuxiliar.cabecera.tipoMoneda}}</label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <app-data-table
        #tablaNormal
        (iniciarData)="iniciarDataTable($event)"
        [idTabla]="'tablaVistaPrevia'"
        [columnas]="columnasTabla"
        [ordenarPorElCampo]="ordenarPorElCampo"
      ></app-data-table>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>
                <b>{{'observaciones' | translate}}:</b>
              </label>
            </div>
            <div class="col-md-6">
              <label>{{percepcionAuxiliar.cabecera.observacion}}</label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <label>
            <b>{{'importeTotal' | translate}}:</b>
          </label>
        </div>
        <div class="col-md-5">
          <label>{{percepcionAuxiliar.cabecera.totalComprobante}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <label>
            <b>{{'montoEnLetras' | translate}}:</b>
          </label>
        </div>
        <div class="col-md-5">
          <label>{{totalEnPalabras | uppercase}}</label>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-12" align="right">
        <button name="btnRegresar" type="button" class="btn btn-default" style="right: 15px;" (click)="regresar()">
          {{'regresar' | translate}}
        </button>
        <button name="btnEmitir" type="button" class="btn btn-default" style="right: 15px;" (click)="emitir()">
          {{'emitir' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

