<div class="main-content">
  <div class="container-fluid">
    <div class="row col-md-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">{{'visualizar' | translate}}</h4>
        </div>
        <div class="card-content">

          <div class="row">
            <div class="col-md-4 left">
                  <!-- Muestra de la empresa emisora, agregar metodo que recupera url del logo de localstorage, ver ejemplo menu -->
                  <!-- <div class="logoVisualizar">
                    <img src="{{urlLogo}}">
                  </div> -->
              <label>
                <b>{{razonsocialemisor}}</b>
              </label>
              <br>
              <label>
                <b>{{domiciliofiscalemisor}}</b>
              </label>
            </div>
            <div class="col-md-4 col-md-offset-4 center">
              <div class="col-md-12 borde-simple">
                <label>
                  <b>{{'rucNumero'| translate}}: {{rucemisor}}</b>
                </label>
                <br>
                <label>
                  <b>{{comprobante | uppercase}} {{'baseComprobanteElectronica' | translate | uppercase}}</b>
                </label>
                <br>
                <label>
                    <b>{{series}} - {{correlativo}}</b>
                </label>
              </div>
            </div>
          </div>
          <br>
<!-- 
          <div class="row">
            <div class="col-md-4">
              <label>
                <h5>
                  <b>{{razonsocialemisor}}</b>
                </h5>
              </label>
            </div>
            <div class="col-md-4 col-md-offset-4">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <h4>
                      <b>RUC N°:</b>
                    </h4>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <h5>{{rucemisor}}</h5>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>
                <h5>
                  <b>{{domiciliofiscalemisor}}</b>
                </h5>
              </label>
            </div>
            <div class="col-md-4 col-md-offset-4">
              <label>
                <h3>
                  <b>RETENCIÓN ELECTRÓNICA</b>
                </h3>
              </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4 col-md-offset-8">
              <div class="row">
                <div class="col-md-12">
                  <label>
                    <h3>{{series}} - {{correlativo}}</h3>
                  </label>
                </div>
              </div>
            </div>
          </div> -->
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>Señor(es):</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{razonsocialreceptor}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>Tipo de Cambio:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{tipocambio}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>RUC:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{rucreceptor}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>Banco:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{banco}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>Domicilio Fiscal:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{domiciliofiscalreceptor}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>Fecha de Emisión:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{fechaemisiones | date:'d/M/yyyy'}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>Tipo de Moneda:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{monedacabe}}</label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <app-data-table
            (iniciarData)="iniciarData($event)"
            #tablaNormal
            [idTabla]="'tabla1'"
            [columnas]="columnasTabla"

            [usaServicio]="true"
            [servicio]="_detalletabla"
            [parametros]="parametrosVisualizar"
            [tipoAtributoServicio]="tipoConsultaVisualizarRetencion"
            [urlServicio]="urlVisualizarRetencion"></app-data-table>
          <br>
          <br>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <label>
                <b>Total Importe:</b>
              </label>
            </div>
            <div class="col-md-5">
              <label>{{totalImporte}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <label>
                <b>Total Importe Retención:</b>
              </label>
            </div>
            <div class="col-md-5">
              <label>{{totalRetencion}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <label>
                <b>Son:</b>
              </label>
            </div>
            <div class="col-md-5">
              <label>{{totalespalabaras | uppercase}}</label>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-6">
            <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-4 border">
              <button name="btnregresar" type="button" class="btn btn-default btn-block" (click)="regresar()">Regresar
              </button>
            </div>
            <!-- <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-4 border">
              <button type="btnEnviarCorreo" class="btn btn-default btn-block" (click)="showSwal()"> {{'enviarCorreo' |
                translate}}
              </button>
            </div> -->
            <!-- <div class="dropdown col-xs-12 col-sm-6 col-md-3 col-lg-3 border">
              <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown"
                      style="padding-left: 17px;">
                {{'descargar' | translate}}
                <b class="caret"></b>
                <ul class="dropdown-menu">
                  <li *ngFor="let archivo of tiposArchivos">
                    <a (click)="guardarArchivo(archivo)">{{archivo.descripcion}}</a>
                  </li>
                </ul>
              </button>
            </div> -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 border">
              <button type="btnimprimir" class="btn btn-default btn-block" (click)="imprimir()"> Imprimir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
