<div [ngClass]="{'main-content': documentoRelacionadoFlag === false}">
  <div [ngClass]="{'container-fluid': documentoRelacionadoFlag === false}" >
    <div class="row col-md-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">{{titulo | translate}}</h4>
        </div>
        <div class="card-content">
          <form [formGroup]="consultaFormGroup" (ngSubmit)="buscar()" novalidate autocomplete="off">
            <div class="row">
              <div class="col-sm-3" *ngIf="tipoComprobanteFlag">
                <div class="form-group label-floating">
                  <label class="control-label">{{'tipoComprobante' | translate}}<span class="star">*</span></label>
                  <select id="cmbTipoComprobante"
                          name="cmbTipoComprobante"
                          formControlName="cmbTipoComprobante"
                          class="form-control"
                          (change)="setTipoDocumento()">
                    <option value="-1" [disabled]="true">{{'seleccioneComprobante' | translate}}</option>
                    <option *ngFor="let tipoComprobante of tiposComprobantes | async" [value]="tipoComprobante.codigo">
                      {{tipoComprobante.descripcionLarga | translate}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3" *ngIf="tipoDocumentoFlag">
                <div class="form-group label-floating">
                  <label class="control-label">{{'tipoDocumento' | translate}}</label>
                  <select id="cmbTipoDocumento"
                          name="cmbTipoDocumento"
                          formControlName="cmbTipoDocumento"
                          class="form-control"
                          (change)="setFormatoDocumento()">
                    <option value="-1" [disabled]="true">{{'seleccioneTipoDocumento' | translate}}</option>
                    <option *ngFor="let tipoDocumento of tiposDocumentos | async" [value]="tipoDocumento.codigo">
                      {{tipoDocumento.descripcionLarga}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3" *ngIf="tipoDocumentoFlag">
                <div class="form-group label-floating">
                  <label class="control-label">{{'numeroDocumento' | translate}}</label>
                  <input tipoDocumentoDirective [size]="tamanioTipoDocumento" [formato]="formatoTipoDocumento"
                         id="txtNumeroDocumento" type="text" name="txtNumeroDocumento"
                         formControlName="txtNumeroDocumento" class="form-control"
                         value="">
                </div>
              </div>
              <div class="col-sm-3" *ngIf="ticketFlag">
                <div class="form-group label-floating">
                  <label class="control-label">{{'ticket' | translate}}</label>
                  <input ticketDirective id="txtTicket" type="text" name="txtTicket" formControlName="txtTicket"
                         class="form-control">
                </div>
              </div>
              <div class="col-sm-3" *ngIf="estadoFlag">
                <div class="form-group label-floating">
                  <label class="control-label">{{'estado' | translate}}<span *ngIf="flagEstadoRequired" class="star">*</span></label>
                  <select id="cmbEstado" formControlName="cmbEstado" name="cmbEstado" class="form-control">
                    <option *ngFor="let estado of estados | async" [value]="estado.idEstadoComprobante">
                      {{estado.descripcion}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3" *ngIf="estadoSerie">
                <div class="form-group label-floating">
                  <label class="control-label">{{'numeroSerie' | translate}}</label>
                  <select id="cmbSerie" formControlName="cmbSerie" name="cmbSerie" class="form-control">
                    <option *ngFor="let serie of series" [value]="serie.serie">
                      {{serie.serie}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3" *ngIf="estadoSerie">
                <div class="form-group label-floating">
                  <label class="control-label">{{'correlativoInicial' | translate}}</label>
                  <input
                    correlativoDirective
                    id="txtNúmeroCorrelativoInicial"
                    name="txtNúmeroCorrelativoInicial"
                    type="text"
                    formControlName="txtNúmeroCorrelativoInicial"
                    class="form-control">
                </div>
              </div>
              <div class="col-sm-3" *ngIf="estadoSerie">
                <div class="form-group label-floating">
                  <label class="control-label">{{'correlativoFinal' | translate}}</label>
                  <input correlativoDirective id="txtNúmeroCorrelativoFinal" name="txtNúmeroCorrelativoFinal"
                         type="text" formControlName="txtNúmeroCorrelativoFinal" class="form-control">
                </div>
              </div>
              <div class="col-md-3" *ngIf="flagResumenBoletas">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <br><br>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group label-floating">
                  <label class="control-label">{{'fechaEmisionDel' | translate}}<span class="star">*</span></label>
                  <input id="dateFechaEmisionDel" type="text" name="dateFechaEmisionDelv"
                         formControlName="dateFechaEmisionDel" class="form-control" datepicker/>
                </div>
                <span class="text-danger"
                      *ngIf="consultaFormGroup.errors && consultaFormGroup.errors.errorFecha">
                  {{consultaFormGroup.errors.errorFecha | translate}}
                </span>
              </div>
              <div class="col-sm-3">
                <div class="form-group label-floating">
                  <label class="control-label">{{'al' | translate}}<span class="star">*</span></label>
                  <input id="dateFechaEmisionAl" type="text" name="dateFechaEmisionAl"
                         formControlName="dateFechaEmisionAl" class="form-control" datepicker/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group pull-right">
                  <button type="submit" class="btn btn-default blue" name="btnBuscar"
                          [disabled]="!consultaFormGroup.valid">{{'buscar' | translate}}
                  </button>
                  <button type="button" class="btn btn-default blue" name="btnLimpiar" (click)="limpiar()">{{'limpiar' |
                    translate}}
                  </button>
                  <button *ngIf="documentoRelacionadoFlag" type="button" class="btn btn-default blue" name="btnRegresar"
                    (click)="regresar()">{{'regresar' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--
        <button class="btn btn-default blue" (click)="showBitacora()">Modal Tabla</button>
        -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="blue">
                            <span class="input-group-addon">
                                <i class="fa fa-list-ul fa-1x fa-inverse"></i>
                            </span>
            </div>
            <div class="row"><h3>{{'listaComprobantes' | translate}}</h3></div>
            <div class="row"><p>&nbsp;</p></div>
            <nav class="navbar navbar-info" role="navigation"></nav>
            <div class="row"><p>&nbsp;</p></div>
            <app-data-table *ngIf="documentoRelacionadoFlag"
                            (iniciarData)="iniciarDataDocumentoRelacionado($event)"
                            (accion)="ejecutarAccion($event)"
                            (eliminar)="eliminar($event)"
                            (agregar)="agregarItem($event)"
                            (seleccionarItemsTabla)="seleccionarDocumentosRelacionados($event)"
                            #tablaConsultaDocumentoRelacionado
                            [idTabla]="'tablaConsultaDocumentoRelacionado'"
                            [habilitarAgregar]="false"
                            [columnas]="columnasDocumentoRelacionado"
                            [acciones]="AccionesDocumentoRelacionado"
                            [tipoAccion]="tipo"
                            [habilitarAcciones]="false"
                            [habilitarCheckBox]="true"
                            [nombreIdDelItem]="'inIdcomprobantepago'"
                            [habilitarSeleccionar]="true"
                            [ordenarPorElCampo]="ordenarPorElCampoPercepcionRetencion"
                            [usaServicio]="true"
                            [servicio]="_comprobantes"
                            [parametros]="parametrosConsulta"
                            [tipoAtributoServicio]="tipoConsultaGeneral"
                            [urlServicio]="urlConsulta"
                            >
            </app-data-table>

            <app-data-table *ngIf="comprobanteFlag"
                            (accion)="ejecutarAccionComprobante($event)"
                            #tablaConsultaComprobante
                            [idTabla]="'tablaComprobante'"
                            [habilitarAgregar]="false"
                            [columnas]="columnasComprobante"
                            [acciones]="AccionesComprobante"
                            [tipoAccion]="tipoComprobante"
                            [habilitarAcciones]="true"
                            [habilitarCheckBox]="false"
                            [nombreIdDelItem]="'inIdcomprobantepago'"
                            [habilitarBotonGenerico]="false"
                            [botonGenericoLabel]="labelBotonGenericoDataTable"
                            [ordenarPorElCampo]="ordenarPorElCampoPercepcionRetencion"

                            [usaServicio]="true"
                            [servicio]="_comprobantes"
                            [parametros]="parametrosConsulta"
                            [tipoAtributoServicio]="tipoConsultaGeneral"
                            [urlServicio]="urlConsulta">
            </app-data-table>

            <app-data-table *ngIf="percepcionRecepcionFlag"
                            (accion)="ejecutarAccionRecepcionPercepcion($event)"
                            #tablaConsultaPercepcionRetencion
                            [idTabla]="'tabla4'"
                            [habilitarAgregar]="false"
                            [columnas]="columnasPercepcionRecepcion"
                            [ordenarPorElCampo]="ordenarPorElCampoPercepcionRetencion"


                            [acciones]="AccionesPercepcionRecepcion"
                            [tipoAccion]="tipoPercepcionRecepcion"
                            [habilitarAcciones]="true"
                            [habilitarCheckBox]="false"

                            [usaServicio]="true"
                            [servicio]="_comprobantes"
                            [parametros]="parametrosDetalleMasiva"
                            [tipoAtributoServicio]="tipoConsultaRetencion"
                            [urlServicio]="urlConsultaRetencion">
            </app-data-table>
            <app-data-table *ngIf="resumenBoletasFlag"
                            >
            </app-data-table>
          </div>
        </div>

      </div>
    </div>

    <consulta-bitacora-component [(visible)]="showDialog"
                                 [listaBitacoras]="lista_eventos"></consulta-bitacora-component>
  </div>
</div>
