<div class="row col-md-12">
  <div class="card">
    <div class="card-header card-header-text" data-background-color="blue">
      <h4 class="card-title">{{titulo | translate}}</h4>
    </div>
    <div class="card-content">
      <form [formGroup]="itemFormGroup" (ngSubmit)="agregaritem()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">{{'tipoDocumento' | translate}} <span class="star">*</span></label>
              <select name="cmbtipodocrp" formControlName="cmbtipodocrp" class="form-control">
                <option *ngFor="let tiposComprobante of tiposComprobantes | async" [value]="tiposComprobante.codigo"> {{tiposComprobante.descripcionLarga}}</option>
              </select>
              <span *ngIf="!itemFormGroup.get('cmbtipodocrp').valid && itemFormGroup.get('cmbtipodocrp').touched">
                <span *ngIf="itemFormGroup.controls['cmbtipodocrp'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
              </span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group label-floating">
              <label class="control-label"> {{'serie' | translate}} <span class="star">*</span></label>
              <input [SerieDirective]="true" id="txtserie" formControlName="txtserie" autocomplete="off" class="form-control" type="text" minlength="4" min="4" maxlength="4" max="4" >
              <span *ngIf="!itemFormGroup.get('txtserie').valid && itemFormGroup.get('txtserie').touched">
                <span *ngIf="itemFormGroup.controls['txtserie'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                <span *ngIf="itemFormGroup.controls['txtserie'].hasError('pattern')"   class="text-danger">{{'formatoInvalido' | translate}}</span>
                <span *ngIf="itemFormGroup.controls['txtserie'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                <span *ngIf="itemFormGroup.controls['txtserie'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'4'} }}</span>
              </span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group label-floating">
              <label class="control-label">{{'correlativo' | translate}}<span class="star">*</span></label>
              <input correlativoDirective id="txtcorrelativo" autocomplete="off" formControlName="txtcorrelativo" class="form-control" type="text">
              <span *ngIf="!itemFormGroup.get('txtcorrelativo').valid && itemFormGroup.get('txtcorrelativo').touched">
                <span *ngIf="itemFormGroup.controls['txtcorrelativo'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">{{'fechaEmision' | translate}}<span class="star">*</span> </label>
              <input id="datefechaemision" formControlName="datefechaemision" autocomplete="off" type="text" class="form-control" datepicker/>
              <span *ngIf="!itemFormGroup.get('datefechaemision').valid && itemFormGroup.get('datefechaemision').touched">
                <span *ngIf="itemFormGroup.controls['datefechaemision'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
              </span>
              <span *ngIf="itemFormGroup.controls['datefechaemision'].hasError('errorFecha')" class="text-danger">{{itemFormGroup.controls['datefechaemision'].getError('errorFecha') | translate}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">{{'tipoMoneda' | translate}} <span class="star">*</span></label>
              <select name="cmbMoneda" formControlName="cmbMoneda" autocomplete="off" class="form-control" (change)="seleccionarMoneda()">
                <option *ngFor="let moneda of todosTiposMonedas | async" [value]="moneda.codigo"> {{moneda.descripcionCorta}}</option>
              </select>
              <span *ngIf="!itemFormGroup.get('cmbMoneda').valid && itemFormGroup.get('cmbMoneda').touched">
                <span *ngIf="itemFormGroup.controls['cmbMoneda'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">{{'importeTotal' | translate}} <span class="star">*</span></label>
              <input precioDirectiva id="txtmonto" formControlName="txtmonto" autocomplete="off" class="form-control" type="text" (keyup)="ready()">
              <span *ngIf="!itemFormGroup.get('txtmonto').valid && itemFormGroup.get('txtmonto').touched">
                <span *ngIf="itemFormGroup.controls['txtmonto'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                <span *ngIf="itemFormGroup.controls['txtmonto'].hasError('pattern')"   class="text-danger">{{'formatoInvalido' | translate}}</span>
                <span *ngIf="itemFormGroup.controls['txtmonto'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                <span *ngIf="itemFormGroup.controls['txtmonto'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label  class="control-label">{{'tipoCambio' | translate}}</label>
              <input precioDirectiva id="txtTipoCambio" formControlName="txtTipoCambio" autocomplete="off" class="form-control" type="text" (keyup)="ready()" >
              <span *ngIf="!itemFormGroup.get('txtTipoCambio').valid && itemFormGroup.get('txtTipoCambio').touched">
                <span *ngIf="itemFormGroup.controls['txtTipoCambio'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                <span *ngIf="itemFormGroup.controls['txtTipoCambio'].hasError('pattern')"   class="text-danger">{{'formatoInvalido' | translate}}</span>
                <span *ngIf="itemFormGroup.controls['txtTipoCambio'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                <span *ngIf="itemFormGroup.controls['txtTipoCambio'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">{{'importeSoles' | translate}}</label>
              <input precioDirectiva id="txtImporteSoles" formControlName="txtImporteSoles" autocomplete="off" class="form-control" disabled type="text">
              <span *ngIf="!itemFormGroup.get('txtImporteSoles').valid && itemFormGroup.get('txtImporteSoles').touched">
                <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('pattern')"   class="text-danger">Ej. 10.00</span>
                <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">{{'impretencion' | translate}} <span class="star">*</span></label>
              <input precioDirectiva id="txtretencion" formControlName="txtretencion" autocomplete="off" class="form-control" (keyup)="ready()" type="text">
              <span *ngIf="!itemFormGroup.get('txtretencion').valid && itemFormGroup.get('txtretencion').touched">
                  <span *ngIf="itemFormGroup.controls['txtretencion'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                  <span *ngIf="itemFormGroup.controls['txtretencion'].hasError('pattern')"   class="text-danger">Ej. 10.00</span>
                  <span *ngIf="itemFormGroup.controls['txtretencion'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                  <span *ngIf="itemFormGroup.controls['txtretencion'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
                </span>
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group label-floating">
                <label class="control-label">{{'porcentajeRetencion' | translate}} <span class="star">*</span> </label>
                <input precioDirectiva id="txtretencionxciento" formControlName="txtretencionxciento" autocomplete="off" class="form-control" type="text">
                <span *ngIf="!itemFormGroup.get('txtretencionxciento').valid && itemFormGroup.get('txtretencionxciento').touched">
                  <span *ngIf="itemFormGroup.controls['txtretencionxciento'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                  <span *ngIf="itemFormGroup.controls['txtretencionxciento'].hasError('pattern')"   class="text-danger">{{'formatoInvalido' | translate}}</span>
                  <span *ngIf="itemFormGroup.controls['txtretencionxciento'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                  <span *ngIf="itemFormGroup.controls['txtretencionxciento'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
                </span>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12" align="right">
            <button *ngIf="editable" id="btnGuardar" name="btnGuardar" type="button" class="btn btn-default" [disabled]="!itemFormGroup.valid" (click)="editaritem()"> Guardar </button>
            <button *ngIf="editablelimpiar" id="btnEditar" name="btnEditar" type="button" class="btn btn-default" (click)="cambiarestado()"> Editar</button>
            <button *ngIf="editableaceptar" id="btnAceptar" name="btnAceptar" type="submit" class="btn btn-default"
                    [disabled]="!(itemFormGroup.valid && validarporcentaje())"> {{'agregarItem' | translate}}
            </button>
            <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-default" (click)="cancelaritem()"> {{'regresar ' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

