
    <div >
            <div class="row col-sm-12">
                <div class="card">
                    <form [formGroup]="itemFormGroup" (ngSubmit)="grabar()" novalidate autocomplete="off">
                        <div class="card-header card-header-text" data-background-color="blue">
                            <h4 class="card-title">{{titulo | translate}}</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating" id="divTxtCodigo" >
                                      <label id="lblCodigo" class="control-label">{{'codigo' | translate}}<span class="star">*</span></label>
                                      <input  codigoDirective
                                              autocomplete="off"
                                              ng2-auto-complete 
                                              type="text"
                                              id="txtCodigo"
                                              formControlName="txtCodigo"
                                              [source]="listarProductosDeAutcompletado.bind(this)"
                                              [list-formatter]="formatoDeListaAutocompletado"
                                              [value-formatter] = "formatoDeValorAutocompletado"
                                              [no-match-found-text] = "'noSeEncontraronResultados' | translate"
                                              
                                              open-on-focus = true
                                              close-on-focus = true
                                              auto-select-first-item = false
                                              min-chars = 1
                                              [loading-text] = "'cargando' | translate"
                                              (valueChanged)="productoPorCodigoCambio($event)"
                                              (change)="cambioAutocomplete()"
                                              class="form-control">
                                        <!--
                                            open-on-focus = true
                                              close-on-focus = true
                                              auto-select-first-item = false
                                              -->
                                        <span *ngIf="!itemFormGroup.get('txtCodigo').valid && (itemFormGroup.get('txtCodigo').touched || itemFormGroup.get('txtCodigo').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtCodigo'].hasError('required')" class="text-danger">Código es requerido.</span>
                                            <span *ngIf="itemFormGroup.controls['txtCodigo'].hasError('pattern')" class="text-danger">Caracteres invalidos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtCodigo'].hasError('minlength')" class="text-danger">Minimo de 3 caractéres.</span>
                                            <!-- <span *ngIf="itemFormGroup.controls['txtCodigo'].hasError('maxlength')" class="text-danger">Minimo de 12 caractéres.</span> -->
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblDescripcion" class="control-label">{{'descripcion' | translate}}<span class="star">*</span></label>
                                        <input
                                                type="text"
                                                id="txtDescripcion"
                                                formControlName="txtDescripcion"
                                                class="form-control"
                                                min="1"
                                                minlength="1"
                                                max="250"
                                                maxlength="250">
                                        <!-- <span *ngIf="!itemFormGroup.get('txtDescripcion').valid && (itemFormGroup.get('txtDescripcion').touched || itemFormGroup.get('txtDescripcion').touched)">
                                            <span *ngIf="itemFormGroup.controls['txtDescripcion'].hasError('required')" class="text-danger">Descripción es requerida.</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescripcion'].hasError('pattern')" class="text-danger">Caracteres invalidos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescripcion'].hasError('minlength')" class="text-danger">Minimo de Digitos 1.</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescripcion'].hasError('maxlength')" class="text-danger">Minimo de Digitos 250.</span>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblCantidad" class="control-label">{{'cantidad' | translate}}<span class="star">*</span></label>
                                        <input  
                                                (blur) = "calcularValorTotal()"
                                                precioDirectiva
                                                type="text"
                                                id="txtCantidad"
                                                formControlName="txtCantidad"
                                                class="form-control">
                                                    <!--
                                        <span *ngIf="!itemFormGroup.get('txtCantidad').valid && (itemFormGroup.get('txtCantidad').touched || itemFormGroup.get('txtCantidad').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtCantidad'].hasError('required')" class="text-danger">Cantidad es requerida.</span>
                                            <span *ngIf="itemFormGroup.controls['txtCantidad'].hasError('pattern')" class="text-danger">Formato invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.controls['txtCantidad'].hasError('minlength')" class="text-danger">Minimo 4 digitos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtCantidad'].hasError('maxlength')" class="text-danger">Máximo 16 digitos.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="esBien">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngIf="esBien">
                                    <div class="form-group label-floating">
                                        <label id="lblUnidadMedida" class="control-label">{{'unidadMedida' | translate}}<span class="star">*</span></label>
                                        <select id="cmbUnidadMedida" formControlName="cmbUnidadMedida" class="form-control">
                                            <option *ngFor="let unidadMedida of unidadesDeMedida | async" [value]="unidadMedida.codigo">
                                                {{unidadMedida.descripcionCorta}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbUnidadMedida').valid && itemFormGroup.get('cmbUnidadMedida').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbUnidadMedida'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblTipoPrecioVenta" class="control-label">{{'tipoPrecioVentaUnitario' | translate}}<span class="star">*</span></label>
                                        <select id="cmbTipoPrecioVenta" formControlName="cmbTipoPrecioVenta" class="form-control" (change)="seleccionarTipoPrecioVenta()">
                                            <option *ngFor="let precioVenta of tipoPrecioVentaUnitario | async" [value]="precioVenta.codigo">
                                                {{precioVenta.descripcion}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbTipoPrecioVenta').valid && itemFormGroup.get('cmbTipoPrecioVenta').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbTipoPrecioVenta'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblValorUnitario" class="control-label">{{'valorUnitario' | translate}}<span class="star">*</span></label>
                                        <input
                                                (blur) = "calcularValorTotal()"
                                                precioDirectiva
                                                type="text"
                                                id="txtValorUnitario"
                                                formControlName="txtValorUnitario"
                                                class="form-control"
                                                >
                                    <!--
                                        <span *ngIf="!itemFormGroup.get('txtValorUnitario').valid && (itemFormGroup.get('txtValorUnitario').touched || itemFormGroup.get('txtValorUnitario').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('required')" class="text-danger">Valor Unitario es requerido.</span>
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('pattern')" class="text-danger">Formato invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('minLength')" class="text-danger">Minimo 4 dígitos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('maxlength')" class="text-danger">Minimo de dígitos.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="esBien">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblDescuento" class="control-label">{{'descuento' | translate}}<span class="star">*</span></label>
                                        <input
                                                (blur) = "calcularValorTotal()"
                                                precioDirectiva
                                                type="text"
                                                id="txtDescuento"
                                                formControlName="txtDescuento"
                                                class="form-control"
                                                >
                                    <!--
                                        <span *ngIf="!itemFormGroup.get('txtDescuento').valid && (itemFormGroup.get('txtDescuento').touched || itemFormGroup.get('txtDescuento').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('required')" class="text-danger">Descuento es requerido.</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('pattern')" class="text-danger">Formato invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('minLength')" class="text-danger">Minimo 4 dígitos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('maxlength')" class="text-danger">Minimo 15 dígitos.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblCalculoIsc" class="control-label">{{'calculoIsc' | translate}}<span class="star">*</span></label>
                                        <select id="cmbCalculoIsc" formControlName="cmbCalculoIsc" class="form-control" (change)="seleccionarTipoIsc()">
                                            <option *ngFor="let calculoIsc of tipoCalculoIsc | async" [value]="calculoIsc.codigo">
                                                {{calculoIsc.descripcion}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbCalculoIsc').valid && itemFormGroup.get('cmbCalculoIsc').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbCalculoIsc'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblIsc" class="control-label">
                                            <!-- <i *ngIf="estadoIsc" class="material-icons">search</i> -->
                                            <!-- <i *ngIf="!estadoIsc" class="material-icons">enhanced encryption</i> -->
                                            ISC</label>
                                        <input
                                                (blur) = "calcularValorTotal()"
                                                precioDirectiva
                                                type="text"
                                                id="txtIsc"
                                                formControlName="txtIsc"
                                                class="form-control">
                                        <!-- <span class="input-group-addon">
                                            <i *ngIf="estadoIsc" class="fa fa-lock"></i>
                                            <i *ngIf="!estadoIsc" class="fa fa-unlock"></i>
                                        </span> -->
                                    <!--    
                                        <span *ngIf="!itemFormGroup.get('txtIsc').valid && (itemFormGroup.get('txtIsc').touched || itemFormGroup.get('txtIsc').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('required')" class="text-danger">Isc es requerida.</span>
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('pattern')" class="text-danger">Formato invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('minLength')" class="text-danger">Minimo 4 dígitos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('maxlength')" class="text-danger">Minimo 15 dígitos.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row" *ngIf="esBien">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div id="divRadioIgv" class="form-group label-floating">
                                        <label id="lblIsc" class="control-label">TIPO IGV<span class="star">*</span></label>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="radio" data-color="blue">
                                                    <label>
                                                        <input type="radio" style="background-color: #555555" formControlName="radioTipoIgv"
                                                            name="radioTipoIgv" id="radioTipoIgvGravado"
                                                            (change)="filtrarTipoIgv($event.srcElement.value)" value="10"> Gravado
                                                    </label>
                                                <!-- </div>
                                            </div>11
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="radio"> -->
                                                    <label>
                                                        <input type="radio" style="background-color: #555555" formControlName="radioTipoIgv"
                                                            name="radioTipoIgv" id="radioTipoIgvInafecto"
                                                            (change)="filtrarTipoIgv($event.srcElement.value)" value="30"> Inafecto
                                                    </label>
                                                <!-- </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="radio"> -->
                                                    <label>
                                                        <input type="radio" style="background-color: #555555" formControlName="radioTipoIgv"
                                                            name="radioTipoIgv" id="radioTipoIgvExonerado"
                                                            (change)="filtrarTipoIgv($event.srcElement.value)" value="20"> Exonerado
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblIgv" class="control-label">{{'descripcionIgv' | translate}}<span class="star">*</span></label>
                                        <select
                                            (change) = "seleccionarIgv()"
                                            id="cmbIgv"
                                            formControlName="cmbIgv"
                                            class="form-control">
                                            <option *ngFor="let igv of tipoAfectacionIgv | async" [ngValue]="igv.codigo">
                                                {{igv.descripcion}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbIgv').valid && itemFormGroup.get('cmbIgv').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbIgv'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblValorVenta" class="control-label">{{'valorVenta' | translate}}<span class="star">*</span></label>
                                        <input
                                                precioDirectiva
                                                type="text"
                                                id="txtValorVenta"
                                                formControlName="txtValorVenta"
                                                class="form-control">
                                    <!--
                                        <span *ngIf="!itemFormGroup.get('txtValorVenta').valid && (itemFormGroup.get('txtValorVenta').touched || itemFormGroup.get('txtValorVenta').dirty)">
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['required']" class="text-danger">Monto Total es requerida.</span>
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['pattern']" class="text-danger">Formato Invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['minLength']" class="text-danger">Minimo de Digitos 5.</span>
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['maxLength']" class="text-danger">Minimo de Digitos 16.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="!esBien">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngIf="esBien">
                                    <div class="form-group label-floating">
                                        <label id="lblUnidadMedida" class="control-label">{{'unidadMedida' | translate}}<span class="star">*</span></label>
                                        <select id="cmbUnidadMedida" formControlName="cmbUnidadMedida" class="form-control">
                                            <option *ngFor="let unidadMedida of unidadesDeMedida | async" [value]="unidadMedida.codigo">
                                                {{unidadMedida.descripcionCorta}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbUnidadMedida').valid && itemFormGroup.get('cmbUnidadMedida').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbUnidadMedida'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblTipoPrecioVenta" class="control-label">{{'tipoPrecioVentaUnitario' | translate}}<span class="star">*</span></label>
                                        <select id="cmbTipoPrecioVenta" formControlName="cmbTipoPrecioVenta" class="form-control">
                                            <option *ngFor="let precioVenta of tipoPrecioVentaUnitario | async" [value]="precioVenta.codigo">
                                                {{precioVenta.descripcion}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbTipoPrecioVenta').valid && itemFormGroup.get('cmbTipoPrecioVenta').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbTipoPrecioVenta'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblValorUnitario" class="control-label">{{'valorUnitario' | translate}}<span class="star">*</span></label>
                                        <input
                                                (blur) = "calcularValorTotal()"
                                                precioDirectiva
                                                type="text"
                                                id="txtValorUnitario"
                                                formControlName="txtValorUnitario"
                                                class="form-control"
                                                >
                                    <!--
                                        <span *ngIf="!itemFormGroup.get('txtValorUnitario').valid && (itemFormGroup.get('txtValorUnitario').touched || itemFormGroup.get('txtValorUnitario').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('required')" class="text-danger">Valor Unitario es requerido.</span>
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('pattern')" class="text-danger">Formato invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('minLength')" class="text-danger">Minimo 4 dígitos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtValorUnitario'].hasError('maxlength')" class="text-danger">Minimo de dígitos.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblDescuento" class="control-label">{{'descuento' | translate}}<span class="star">*</span></label>
                                        <input
                                                (blur) = "calcularValorTotal()"
                                                precioDirectiva
                                                type="text"
                                                id="txtDescuento"
                                                formControlName="txtDescuento"
                                                class="form-control"
                                                >
                                    <!--
                                        <span *ngIf="!itemFormGroup.get('txtDescuento').valid && (itemFormGroup.get('txtDescuento').touched || itemFormGroup.get('txtDescuento').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('required')" class="text-danger">Descuento es requerido.</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('pattern')" class="text-danger">Formato invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('minLength')" class="text-danger">Minimo 4 dígitos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtDescuento'].hasError('maxlength')" class="text-danger">Minimo 15 dígitos.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row" *ngIf="!esBien">

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblCalculoIsc" class="control-label">{{'calculoIsc' | translate}}<span class="star">*</span></label>
                                        <select id="cmbCalculoIsc" formControlName="cmbCalculoIsc" class="form-control" (change)="seleccionarTipoIsc()">
                                            <option *ngFor="let calculoIsc of tipoCalculoIsc | async" [value]="calculoIsc.codigo">
                                                {{calculoIsc.descripcion}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbCalculoIsc').valid && itemFormGroup.get('cmbCalculoIsc').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbCalculoIsc'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblIsc" class="control-label">
                                            <!-- <i *ngIf="estadoIsc" class="material-icons">search</i> -->
                                            <!-- <i *ngIf="!estadoIsc" class="material-icons">enhanced encryption</i> -->
                                            ISC</label>
                                        <input
                                                (blur) = "calcularValorTotal()"
                                                precioDirectiva
                                                type="text"
                                                id="txtIsc"
                                                formControlName="txtIsc"
                                                class="form-control">
                                        <!-- <span class="input-group-addon">
                                            <i *ngIf="estadoIsc" class="fa fa-lock"></i>
                                            <i *ngIf="!estadoIsc" class="fa fa-unlock"></i>
                                        </span> -->
                                    <!--    
                                        <span *ngIf="!itemFormGroup.get('txtIsc').valid && (itemFormGroup.get('txtIsc').touched || itemFormGroup.get('txtIsc').dirty)">
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('required')" class="text-danger">Isc es requerida.</span>
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('pattern')" class="text-danger">Formato invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('minLength')" class="text-danger">Minimo 4 dígitos.</span>
                                            <span *ngIf="itemFormGroup.controls['txtIsc'].hasError('maxlength')" class="text-danger">Minimo 15 dígitos.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div id="divRadioIgv" class="form-group label-floating">
                                        <label id="lblIsc" class="control-label">TIPO IGV<span class="star">*</span></label>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" style="background-color: #555555"formControlName="radioTipoIgv" (change)="filtrarTipoIgv($event.srcElement.value)" value="10"> Gravado
                                                    </label>
                                                <!-- </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="radio"> -->
                                                    <label>
                                                        <input type="radio" style="background-color: #555555" formControlName="radioTipoIgv" (change)="filtrarTipoIgv($event.srcElement.value)" value="30"> Inafecto
                                                    </label>
                                                <!-- </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="radio"> -->
                                                    <label>
                                                        <input type="radio" style="background-color: #555555" formControlName="radioTipoIgv" (change)="filtrarTipoIgv($event.srcElement.value)" value="20"> Exonerado
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="!esBien">

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblIgv" class="control-label">{{'descripcionIgv' | translate}}<span class="star">*</span></label>
                                        <select
                                            (change) = "calcularValorTotal()"
                                            id="cmbIgv"
                                            formControlName="cmbIgv"
                                            class="form-control">
                                            <option *ngFor="let igv of tipoAfectacionIgv | async" [value]="igv.codigo">
                                                {{igv.descripcion}}
                                            </option>
                                        </select>
                                        <!-- <span *ngIf="!itemFormGroup.get('cmbIgv').valid && itemFormGroup.get('cmbIgv').touched">
                                            <span *ngIf="itemFormGroup.controls['cmbIgv'].hasError('required')" class="text-danger">Seleccione una opción.</span>
                                        </span> -->
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group label-floating">
                                        <label id="lblValorVenta" class="control-label">{{'valorVenta' | translate}}<span class="star">*</span></label>
                                        <input
                                                precioDirectiva
                                                type="text"
                                                id="txtValorVenta"
                                                formControlName="txtValorVenta"
                                                class="form-control">
                                    <!--
                                        <span *ngIf="!itemFormGroup.get('txtValorVenta').valid && (itemFormGroup.get('txtValorVenta').touched || itemFormGroup.get('txtValorVenta').dirty)">
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['required']" class="text-danger">Monto Total es requerida.</span>
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['pattern']" class="text-danger">Formato Invalido (Ej. 1.00).</span>
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['minLength']" class="text-danger">Minimo de Digitos 5.</span>
                                            <span *ngIf="itemFormGroup.get('txtValorVenta').errors['maxLength']" class="text-danger">Minimo de Digitos 16.</span>
                                        </span>
                                    -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group pull-right">
                                            <button type="button" class="btn btn-default blue" id="btnRegresar" (click)="regresar()">{{'regresar' | translate}}</button>
                                            <button *ngIf="!(editable && estadoEditar)" type="submit" class="btn btn-default blue" id="btnGrabar" [disabled]="!(itemFormGroup.valid && estadoIgvSeleccionado)" >{{'grabar' | translate}}</button>
                                            <!-- <button *ngIf="!(editable && estadoEditar)" type="submit" class="btn btn-default blue" id="btnGrabarEditar" [disabled]="!(itemFormGroup.valid && estadoIgvSeleccionado)" >{{'grabar' | translate}}</button> -->
                                            <button *ngIf="!editable" type="button" class="btn btn-default blue" id="btnSeguirGrabando" [disabled]="!(itemFormGroup.valid && estadoIgvSeleccionado)" (click)="seguirGrabando()">{{'seguirGrabando' | translate}}</button>
                                            <button *ngIf="!editable" type="button" class="btn btn-default blue" id="btnLimpiar" (click)="limpiar()">{{'limpiar' | translate}}</button>
                                            <button *ngIf="editable && estadoEditar" type="button" class="btn btn-default blue" id="btnEditar" (click)="editar()">{{'editar' | translate}}</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
