<div class="row col-md-12">
  <div class="card">
    <div class="card-header card-header-text" data-background-color="blue">
      <h4 class="card-title">{{titulo | translate}}</h4>
    </div>
    <div class="card-content">
      <form [formGroup]="itemFormGroup" (ngSubmit)="guardarItem()" autocomplete="off" novalidate>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">{{'tipoDocumento' | translate}} <span class="star">*</span></label>
              <select id="cmbTipoComprobante" name="cmbTipoComprobante" formControlName="cmbTipoComprobante" class="form-control" (change)="cambioTipoComprobante()" [compareWith]="compararTablaMaestra">
                <option *ngFor="let tipoComprobante of tiposComprobantes | async" [ngValue]="tipoComprobante"> {{tipoComprobante.descripcionLarga}}</option>
              </select>
              <div class="row" *ngIf="!itemFormGroup.get('cmbTipoComprobante').valid && itemFormGroup.get('cmbTipoComprobante').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['cmbTipoComprobante'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label id="lblSerie" class="control-label">{{'serie' | translate}}<span class="star">*</span></label>
              <input  type="text"
                      id="txtSerieComprobante"
                      formControlName="txtSerieComprobante"
                      autocomplete="off"
                      class="form-control"
                      [SerieDirective]="true">
              <div class="row" *ngIf="!itemFormGroup.get('txtSerieComprobante').valid && itemFormGroup.get('txtSerieComprobante').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtSerieComprobante'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label id="lblCorrelativo" class="control-label">{{'correlativo' | translate}}<span class="star">*</span></label>
              <input  type="text"
                      id="txtCorrelativo"
                      formControlName="txtCorrelativoComprobante"
                      class="form-control"
                      correlativoDirective>
              <div class="row" *ngIf="!itemFormGroup.get('txtCorrelativoComprobante').valid && itemFormGroup.get('txtCorrelativoComprobante').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtCorrelativoComprobante'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button id="btnBuscar" type="button" class="btn btn-xs btn-default"
                      (click)="buscarComprobante()"
                      [title]="'buscar' | translate"
                      [disabled]="!(itemFormGroup.get('txtSerieComprobante').valid && itemFormGroup.get('txtCorrelativoComprobante').valid)">
              <span class="btn-label">
                  <i class="material-icons">search</i>
                {{'buscarComprobante' | translate}}
              </span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">{{'fechaEmision' | translate}}<span class="star">*</span> </label>
              <input id="txtFechaEmisionComprobante" [disabled]="(escogioUnComprobante | async)" formControlName="txtFechaEmisionComprobante"
                     autocomplete="off" type="text" class="form-control" datepicker/>
              <div *ngIf="!itemFormGroup.get('txtFechaEmisionComprobante').valid">
                <div class="row">
                  <div class="col-md-12">
                    <span *ngIf="itemFormGroup.controls['txtFechaEmisionComprobante'].hasError('required')" class="text-danger">
                      {{'campoRequerido' | translate}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span *ngIf="itemFormGroup.controls['txtFechaEmisionComprobante'].hasError('errorFecha')" class="text-danger">
                      {{itemFormGroup.controls['txtFechaEmisionComprobante'].getError('errorFecha') | translate}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">{{'tipoMoneda' | translate}} <span class="star">*</span></label>
              <select id="cmbMonedaComprobante" name="cmbMonedaComprobante" formControlName="cmbMonedaComprobante" autocomplete="off" class="form-control"
                      (change)="cambioMoneda()" [compareWith]="compararTablaMaestra">
                <option [ngValue]="null" disabled>{{'seleccioneUnaMoneda' | translate}}</option>
                <option *ngFor="let moneda of tiposMonedas | async" [ngValue]="moneda"> {{moneda.descripcionCorta}}</option>
              </select>
              <div class="row" *ngIf="!itemFormGroup.get('cmbMonedaComprobante').valid && itemFormGroup.get('cmbMonedaComprobante').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['cmbMonedaComprobante'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.get('cmbMonedaComprobante').hasError('seleccioneUnaMoneda')"
                        class="text-danger">{{'seleccioneUnaMoneda' | translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">{{'importeTotal' | translate}} <span class="star">*</span></label>
              <input precioDirectiva id="txtMontoComprobante" formControlName="txtMontoComprobante" autocomplete="off" class="form-control"
                     type="text">
              <div class="row" *ngIf="!itemFormGroup.get('txtMontoComprobante').valid && itemFormGroup.get('txtMontoComprobante').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoComprobante'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoComprobante'].hasError('pattern')"   class="text-danger">{{'formatoInvalido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoComprobante'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoComprobante'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoComprobante'].hasError('min')" class="text-danger">{{'debeSerMayorA' | translate:{digito:'0.00'} }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label  class="control-label">{{'tipoCambio' | translate}} <span class="star">*</span></label>
              <input precioDirectiva id="txtTipoCambioComprobante" formControlName="txtTipoCambioComprobante" autocomplete="off" class="form-control" type="text">
              <div class="row" *ngIf="!itemFormGroup.get('txtTipoCambioComprobante').valid && itemFormGroup.get('txtTipoCambioComprobante').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtTipoCambioComprobante'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtTipoCambioComprobante'].hasError('pattern')"   class="text-danger">{{'formatoInvalido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtTipoCambioComprobante'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtTipoCambioComprobante'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtTipoCambioComprobante'].hasError('min')" class="text-danger">{{'debeSerMayorA' | translate:{digito:'0.00'} }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">{{'importeSoles' | translate}}</label>
              <input precioDirectiva id="txtImporteSoles" formControlName="txtImporteSoles" autocomplete="off" class="form-control" type="text">
              <div class="row" *ngIf="!itemFormGroup.get('txtImporteSoles').valid && itemFormGroup.get('txtImporteSoles').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('pattern')"   class="text-danger">Ej. 10.00</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtImporteSoles'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">{{'porcentajePercepcion' | translate}}</label>
              <select id="cmbPorcentajePercepcion" name="cmbPorcentajePercepcion" formControlName="cmbPorcentajePercepcion" class="form-control"
                      [compareWith]="compararParametros">
                <option [ngValue]="null" disabled>{{'seleccioneUnTipoDePercepcion' | translate}}</option>
                <option *ngFor="let tipoPercepcion of tiposPercepcion | async" [ngValue]="tipoPercepcion"> {{tipoPercepcion.descripcion_dominio}}</option>
              </select>
              <div class="row" *ngIf="!itemFormGroup.get('cmbPorcentajePercepcion').valid && itemFormGroup.get('cmbPorcentajePercepcion').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['cmbPorcentajePercepcion'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.get('cmbPorcentajePercepcion').hasError('seleccioneUnTipoDePercepcion')"
                      class="text-danger">{{'seleccioneUnTipoDePercepcion' | translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">% {{'percepcion' | translate}}</label>
              <input id="txtMontoPorcentajePercepcion" name="txtMontoPorcentajePercepcion" formControlName="txtMontoPorcentajePercepcion" class="form-control">
              <div class="row" *ngIf="!itemFormGroup.get('txtMontoPorcentajePercepcion').valid && itemFormGroup.get('txtMontoPorcentajePercepcion').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoPorcentajePercepcion'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group label-floating">
              <label class="control-label">{{'importePercepcion' | translate}}</label>
              <input precioDirectiva id="txtMontoPercepcion" formControlName="txtMontoPercepcion" autocomplete="off" class="form-control" type="text">
              <div class="row" *ngIf="!itemFormGroup.get('txtMontoPercepcion').valid && itemFormGroup.get('txtMontoPercepcion').touched">
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoPercepcion'].hasError('required')"  class="text-danger">{{'campoRequerido' | translate}}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoPercepcion'].hasError('pattern')"   class="text-danger">Ej. 10.00</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoPercepcion'].hasError('minlength')" class="text-danger">{{'minimoDigitos' | translate:{digito:'4'} }}</span>
                </div>
                <div class="col-md-12">
                  <span *ngIf="itemFormGroup.controls['txtMontoPercepcion'].hasError('maxlength')" class="text-danger">{{'maximoDigitos' | translate:{digito:'16'} }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" align="right">
            <ng-container *ngIf="esEditable | async; then btnEditable else btnGuardar;"></ng-container>
            <ng-template #btnEditable>
              <button id="btnEditar" name="btnEditar" type="submit" class="btn btn-default" (click)="guardarItem(true)">
                {{'editar' | translate}}
              </button>
            </ng-template>
            <ng-template #btnGuardar>
              <button id="btnGuardar" name="btnGuardar" type="submit" class="btn btn-default" (click)="guardarItem()" [disabled]="!itemFormGroup.valid">
                {{'agregarItem' | translate}}
              </button>
            </ng-template>
            <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-default" (click)="regresar()"> {{'regresar ' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

