<div class="main-content">
  <div class="container-fluid">
    <div class="row col-md-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">Crear Resumen de Bajas</h4>
        </div>
        <div class="card-content">
          <form [formGroup]="productFormGroup" autocomplete="off">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group label-floating">
                  <label class="control-label">Tipo de Comprobante <span class="star">*</span> </label>
                    <select name="cmbtipodoc" id="cmbtipodoc" formControlName="cmbtipodoc" class="form-control" (change)="setTipoDocumentocombo()">
                     <option  *ngFor="let tipoDoc of tipoDocumento | async"[value]="tipoDoc.codigo"> {{tipoDoc.descripcionLarga | translate}} </option>
                    </select>
                    <span
                      *ngIf="!productFormGroup.get('cmbtipodoc').valid && productFormGroup.get('cmbtipodoc').touched">
                              <span *ngIf="productFormGroup.controls['cmbtipodoc'].hasError('required')"
                                    class="text-danger">{{'campoRequerido' | translate}}</span>
                    </span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group label-floating">
                  <label class="control-label">Serie</label>
                  <select name="cmbserie" id="cmbserie" formControlName="cmbserie" class="form-control">
                    <option *ngFor="let serie of series "[value]="serie.serie"> {{serie.serie}} </option>
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group label-floating">
                  <label class="control-label">Correlativo Inicial </label>
                  <input   id="correlativoinicio"
                          correlativoDirective
                          formControlName="correlativoinicio" type="text" class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group label-floating">
                  <label class="control-label">Correlativo Final </label>
                  <input  id="correlativofinal"
                          correlativoDirective
                          formControlName="correlativofinal" type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group label-floating">
                        <label class="control-label">{{'estado' | translate}} <span class="star">*</span></label>
                        <select id="cmbEstado" formControlName="cmbEstado" name="cmbEstado" class="form-control">
                            <option *ngFor="let estado of estados | async" [value]="estado.idEstadoComprobante">
                                {{estado.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group label-floating">
                  <label class="control-label">Fecha de Emisión Del <span class="star">*</span></label>
                  <input id="fechaemisioninicio" formControlName="fechaemisioninicio" type="text" class="form-control"  name="fechaemisiondel" datepicker />
                  <span
                    *ngIf="!productFormGroup.get('fechaemisioninicio').valid && productFormGroup.get('fechaemisioninicio').touched">
                              <span *ngIf="productFormGroup.controls['fechaemisioninicio'].hasError('required')"
                                    class="text-danger">{{'campoRequerido' | translate}}</span>
                </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group label-floating">
                  <label class="control-label">al <span class="star">*</span></label>
                 <input  id="fechaemisionfin" formControlName="fechaemisionfin" type="text" class="form-control"  name="fechaemisional" datepicker />
                  <span
                    *ngIf="!productFormGroup.get('fechaemisionfin').valid && productFormGroup.get('fechaemisionfin').touched">
                              <span *ngIf="productFormGroup.controls['fechaemisionfin'].hasError('required')"
                                    class="text-danger">{{'campoRequerido' | translate}}</span>
                    </span>
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-sm-12">
                <div class="form-group pull-right">
                  <button type="button" (click)="buscar()" class="btn btn-default blue"  name="btnBuscar" [disabled]="!productFormGroup.valid" >Buscar</button>
                  <button type="button" class="btn btn-default"  (click)="limpiar()">Limpiar</button>
                </div>
              </div>
            </div>
          </form>

          <div class="card">
            <div class="card-header card-header-icon" data-background-color="blue">
              <i class="material-icons">list</i>
            </div>

            <div class="row"><h3>Lista de Comprobantes</h3></div>
            <div class="row"><p>&nbsp;</p></div>
            <nav class="navbar navbar-info" role="navigation"></nav>
            <div class="row"><p> &nbsp; </p></div>
                <app-data-table
                 
                 #tablaNormal
                 [idTabla]="'tablaNormal'"
                 [habilitarAgregar]="false"
                 [columnas]="columnasTabla"
                 [acciones]="AccionesPrueba"
                 [tipoAccion]="tipo"
                 [habilitarAcciones]="false"
                 [habilitarCheckBox]="true"
                 [nombreIdDelItem]="'inIdcomprobantepago'"
                 [usaServicio]="true"
                 [servicio]="_comprobantes"
                 [ordenarPorElCampo]="'tsFechaemision'"
                 [parametros]="parametrosConsulta"
                 [tipoAtributoServicio]="tipoConsultaRetencion"
                 [urlServicio]="urlConsultaRetencion">
              </app-data-table>
          </div>
          <div class="row"> <p> &nbsp;</p></div>
          <div class="row">
            <div class="col-md-12">
              <form  [formGroup]="bajaFormGroup" autocomplete="off">
              <div class="label-floating">
                <label class="control-label">Motivo <span class="star">*</span> </label>
                <input id="motivo" autocomplete="off" formControlName="motivo" class="form-control" type="text">
              </div>
              </form>
            </div>
          </div>
          <div class="row"> <p> &nbsp;</p></div>
          <div class="row">
            <div class="col-md-12" align="right">
              <button type="button" class="btn btn-default" [disabled]="!(validartabla()) " (click)="comunicacionbaja()">
                {{'crearComunicacionBaja' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

