<div class="modal fade" #modalEditar [id]="idModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
        <div class="row">
          <div class="col-md-4">
            <h5 class="modal-title" id="myModalLabel">{{'editarItem' | translate}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label><h5><b> &nbsp;{{'instrucciones' | translate}}:</b></h5></label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1" style="padding-right: 0px; width: 10px;">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i></label>
          </div>
          <div class="col-xs-11 col-sm-11 col-md-11">
            <label>{{'regla1Series' | translate}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1" style="padding-right: 0px; width: 10px;">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i></label>
          </div>
          <div class="col-xs-11 col-sm-11 col-md-11">
            <label>{{'regla2Series' | translate}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1" style="padding-right: 0px; width: 10px;">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i></label>
          </div>
          <div class="col-xs-11 col-sm-11 col-md-11">
            <label>{{'regla3Series' | translate}}</label>
          </div>
        </div>
        <form [formGroup]="seriesFormGroup" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">{{'nombreSerie' | translate}}</label>
                    <input [SerieDirective]="true" id="txtNombreSerie" formControlName="txtNombreSerie" class="form-control" type="text" minlength="4" min="4" maxlength="4" max="4">
                  </div>
                  <div class="row" *ngIf="!seriesFormGroup.get('txtNombreSerie').valid && seriesFormGroup.get('txtNombreSerie').touched">
                    <div class="col-md-12">
                      <span *ngIf="seriesFormGroup.get('txtNombreSerie').hasError('required')"
                            class="text-danger">{{'campoRequerido' | translate}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">{{'nombreSucursal' | translate}}</label>
                    <input id="txtNombreSucursal" formControlName="txtNombreSucursal" autocomplete="off" class="form-control"
                           type="text">
                    <div class="row" *ngIf="!seriesFormGroup.get('txtNombreSucursal').valid && seriesFormGroup.get('txtNombreSucursal').touched">
                      <div class="col-md-12">
                      <span *ngIf="seriesFormGroup.get('txtNombreSucursal').hasError('required')"
                            class="text-danger">{{'campoRequerido' | translate}}
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">{{'direccionMac' | translate}}</label>
                    <input id="txtDireccionMac" formControlName="txtDireccionMac" class="form-control" type="text">
                    <div class="row" *ngIf="!seriesFormGroup.get('txtDireccionMac').valid && seriesFormGroup.get('txtDireccionMac').touched">
                      <div class="col-md-12">
                      <span *ngIf="seriesFormGroup.get('txtDireccionMac').hasError('required')"
                            class="text-danger">{{'campoRequerido' | translate}}
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">{{'correlativoInicial' | translate}}</label>
                    <input id="txtCorrelativoInicial" formControlName="txtCorrelativoInicial" class="form-control" correlativoDirective
                           type="text">
                    <div class="row" *ngIf="!seriesFormGroup.get('txtCorrelativoInicial').valid && seriesFormGroup.get('txtCorrelativoInicial').touched">
                      <div class="col-md-12">
                      <span *ngIf="seriesFormGroup.get('txtCorrelativoInicial').hasError('required')"
                            class="text-danger">{{'campoRequerido' | translate}}
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="checkBoxTipoSerie" formControlName="checkBoxTipoSerie"> {{'configseries' | translate}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button id="btnGuardar" name="btnGuardar" type="submit" class="btn btn-default" (click)="guardarItem()" [disabled]="!habilitarFormGroup()">
                {{nombreBotonGuardar | async | translate}}
              </button>
              <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-default" data-dismiss="modal"> {{'cancelar ' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
