.dialog {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 90%;
  max-width: 520px;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .dialog {
    top: 40px;
  }
}


.btn.btn-info{
  box-shadow : 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 188, 212, 0.2), 0 0 0px 0 rgba(0, 188, 212, 0.12);
  color: #00bcd4;
  background-color: #ffffffff;
}


.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
}
table thead > tr {
  background-color: #e6e6e6;
  color: #6d6d6d;
}
