<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="row"><label><h3><b>{{'instrucciones' | translate}}</b></h3></label></div>
          <div class="row">
            <label>{{'instruccionesRetencion' | translate}}</label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla1Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla2Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla3Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla4Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla5Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla6Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'reglaProductoMasivo1' | translate}}:
              <a (click)="abrirEnlace()">{{'catalogoSunat' | translate}}</a>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row" style="text-align: center">
          <div class="center-block">
            <label><h3><b>{{'formato' | translate}}</b></h3></label>
          </div>
        </div>
        <div class="row" style="text-align: center">
          <div class="center-block">
            <button class="btn btn-default btn-simple" title="{{'descargarFormatoArchivo' | translate}}"
                    (click)="descargarFormatoMasiva()"><i class="material-icons"
                                                          style="font-size: 75px">file_download</i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div class="row">
          <form [formGroup]="productoMasivoFormGroup">
            <div class="row">
              <div class="col-md-3"><label><h4><b>{{'seleccioneArchivo' | translate}}</b></h4></label></div>
            </div>
            <div class="fileinput fileinput-new text-center">
              <div class="fileinput-preview fileinput-exists thumbnail"></div>
              <div>
                <span class="btn btn-file btn-default blue">
                  <span class="fileinput-new">{{'seleccioneArchivo' | translate}}</span>
                  <span class="fileinput-exists">{{'cambiar' | translate}}</span>
                  <input type="file" name="..."
                         formControlName="productoMasivo"
                         archivoDirectiva
                         [mensajeErrorTipo]= "'mensajeErrorTipoArchivo' | translate: {tiposArchivo: ' .csv'}"
                         (change)="cambioProductoMasivo($event)"
                         #inputArchivoMasivo
                  />
                </span>
                <a class="btn btn-file btn-danger blue"
                   (click)="eliminarProductoMasivo()"
                   *ngIf="(productoMasivoSeleccionado | async)">
                  <i class="fa fa-times"></i> {{'eliminar'|translate}}
                </a>
                <div class="fileinput-preview" *ngIf="(productoMasivoSeleccionado | async)">
                  {{(productoMasivoSeleccionado | async)[0].name}}
                </div>
                <div class="fileinput-new" *ngIf="!(productoMasivoSeleccionado | async)">
                  <label>{{'ningunArchivoSeleccionado' | translate}}</label>
                </div>
              </div>
              <div class="row" *ngIf="!productoMasivoFormGroup.controls['productoMasivo'].valid">
                <span style="color: red" *ngIf="productoMasivoFormGroup.controls['productoMasivo'].errors">
                  <strong *ngIf="productoMasivoFormGroup.controls['productoMasivo'].errors['tipo']">
                    {{productoMasivoFormGroup.controls['productoMasivo'].errors['tipo'] | translate}}
                  </strong>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" align="right">
        <button type="submit" class="btn btn-default" (click)="cargarmasiva()"
                [disabled]="!productoMasivoFormGroup.controls['productoMasivo'].valid">
          {{'cargar' | translate}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
          <i class="material-icons">list</i>
        </div>
        <div class="row"><h3>{{'listaArchivos' | translate}}</h3></div>
        <div class="row"><p>&nbsp;</p></div>
        <nav class="navbar navbar-info" role="navigation"></nav>
        <div class="card-content">
          <app-data-table #tablamasiva
                          [idTabla]="'tablaMasiva'"
                          [columnas]="columnasTabla"
                          [ordenarPorElCampo]="ordenarPorElCampoMasiva"

                          [usaServicio]="true"
                          [servicio]="_productoMasivoService"
                          [parametros]="parametrosMasiva"
                          [tipoAtributoServicio]="tipoMetodoMasiva"
                          [urlServicio]="urlArchivoMasivaService"

                          [acciones]="accionesMasiva"
                          [tipoAccion]="tipomasiva"
                          [habilitarAcciones]="true"
                          (iniciarData)="iniciarDataMasiva($event)"
                          (accion)="ejecutarAccionMasiva($event)">
          </app-data-table>
        </div>
      </div>
    </div>
  </div>
</div>
