<div class="main-content">
  <div class="container-fluid">
    <div class="row col-md-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">{{'visualizar' | translate}}</h4>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-4 left">
                  <!-- <div class="logoVisualizar">
                    <img src="{{urlLogo}}">
                  </div> -->
              <label>
                <b>{{documento.entidadproveedora.vcNomComercia}}</b>
              </label>
              <br>
              <label>
                <b>{{documento.entidadproveedora.vcDirFiscal}}</b>
              </label>
            </div>
            <div class="col-md-4 col-md-offset-4 center">
              <div class="col-md-12 borde-simple">
                <label>
                  <b>{{'rucNumero'| translate}}: {{documento.entidadproveedora.vcDocumento}}</b>
                </label>
                <br>
                <label>
                  <b>{{documento.vcTipocomprobante | uppercase}} {{'baseComprobanteElectronica' | translate | uppercase}}</b>
                </label>
                <br>
                <label>
                    <b>{{documento.vcSerie}} - {{documento.vcCorrelativo}}</b>
                </label>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'senior'| translate}}:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{documento.entidadcompradora.vcNomComercia}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <!-- <b>{{'ruc'| translate}}:</b> -->
                    <b *ngIf="this.documento.chIdtipocomprobante == this._tipos.TIPO_DOCUMENTO_FACTURA">{{'rucNumero'| translate}}:</b>
                    <b *ngIf="this.documento.chIdtipocomprobante == this._tipos.TIPO_DOCUMENTO_BOLETA">
                      {{nombreTipoDocumeto}}
                      <!-- <ng-container [ngSwitch]="this.documento.entidadcompradora.vcTipoDocumento">
                        <b *ngSwitchCase="'1'">{{'dni'| translate | uppercase}}</b>
                        <b *ngSwitchCase="'4'">{{'carnetExtranjeria'| translate | uppercase}}</b>
                        <b *ngSwitchCase="'6'">{{'ruc'| translate | uppercase}}</b>
                        <b *ngSwitchCase="'7'">{{'pasaporte'| translate | uppercase}}</b>
                        <b *ngSwitchCase="'A'">{{'cedulaDiplomatica'| translate | uppercase}}</b>
                      </ng-container> -->
                    </b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{documento.entidadcompradora.vcDocumento}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'domicilioFiscal'| translate}}:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{documento.entidadcompradora.vcDirFiscal}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'fechaEmision' | translate}}:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{documento.tsFechaemision | date:'d/M/yyyy'}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'tipoMoneda'| translate}}</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{documento.chMonedacomprobantepago}}</label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>

          <div class="row container-fluid" *ngIf="documento.referencias.length > 0">
            <div class="col-md-12 table responsive">
              <!-- <label><b>{{'documentosRelacionados' | translate}}</b></label> -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{{'tipoDocumentoRelacionado' | translate}}</th>
                    <th>{{'documentosRelacionados' | translate}}</th>
                    <th>{{'montoAnticipo' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of documento.referencias">
                    <td>{{item.vcTdocDesDesc}}</td>
                    <td>
                      {{item.chSerieDest  + '-' + item.chCorrDest}}
                    </td>
                    <td>{{item.deAnticipo| number: 3.1-2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <br> -->
          <app-data-table
            (iniciarData)="iniciarData($event)"
            #tablaNormal
            [idTabla]="'tabla1'"
            [columnas]="columnasTabla"

            [usaServicio]="false"
            [parametros]="parametrosVisualizar"
            [tipoAtributoServicio]="tipoConsultaVisualizarRetencion"
            [urlServicio]="urlVisualizarRetencion"></app-data-table>
          <br>
          <br>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <label>
                <b>{{'labelTotalImporte'| translate}}:</b>
              </label>
            </div>
            <div class="col-md-5">
              <label>{{documento.dePagomontopagado}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <label>
                <b>{{'baseTotal'| translate}} {{documento.vcTipocomprobante}} {{'baseComprobanteElectronica' | translate}}</b>
                <!-- <b>Total Factura Electrónica:</b> -->
              </label>
            </div>
            <div class="col-md-5">
              <label>{{documento.deTotalcomprobantepago}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <label>
                <b>{{'baseSon' | translate}}:</b>
              </label>
            </div>
            <div class="col-md-5">
              <!-- <label>{{totalPagoPalabras | uppercase}}</label> -->
              <label>{{documento.vcMontocomprobantepago | uppercase}}</label>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-6">
            <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-4 border">
              <button name="btnregresar" type="button" class="btn btn-default btn-block" (click)="regresar()">Regresar
              </button>
            </div>
            <!-- <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 border">
              <button type="btnEnviarCorreo" class="btn btn-default btn-block" (click)="enviarCorreo()"> {{'enviarCorreo' |
                translate}}
              </button>
            </div> -->
            <!-- <div class="dropdown col-xs-12 col-sm-6 col-md-3 col-lg-3 border">
              <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown"
                      style="padding-left: 17px;">
                {{'descargar' | translate}}
                <b class="caret"></b>
                <ul class="dropdown-menu">
                  <li *ngFor="let archivo of tiposArchivos">
                    <a (click)="guardarArchivo(archivo)">{{archivo.descripcion}}</a>
                  </li>
                </ul>
              </button>
            </div> -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 border">
              <button type="btnimprimir" class="btn btn-default btn-block" (click)="imprimir()"> {{'imprimir' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
