<div class="wrapper wrapper-full-page login">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/dashboard"></a>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black" data-image="./assets/img/login2.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form method="#" action="#">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="blue">
                                    <h4 class="card-title">Iniciar Sesión</h4>
                                </div>
                                <p class="category text-center">
                                   Bienvenido a B2Mining Data
                                </p>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="background: transparent;">
                                            <!-- Usuario  : -->
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Usuario</label>
                                            <input mayusculaDirectiva type="text" id="txtUsuario" class="form-control" name="username" [(ngModel)]="loginModel.username"/>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="background: transparent;">
                                            <!-- Clave  : -->
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Clave</label>
                                            <input type="password" id="txtClave" class="form-control" name="password" [(ngModel)]="loginModel.password"/>
                                        </div>
                                    </div>
                                    <div class="input-group" *ngIf="this.loginModel.inicio == 'false' ">
                                    <!-- <div class="input-group"> -->
                                        <span class="input-group-addon" style="background: transparent;">
                                            <!-- Ruc : -->
                                            <i class="material-icons">power_input</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Ruc</label>
                                            <input rucDirective type="text" id="txtRuc" class="form-control" name="ruc"  [(ngModel)]="loginModel.ruc"/>
                                            <!-- <input tipoDocumentoDirective [size]="11" [formato]="0" type="text" id="txtRuc" class="form-control" name="password"  [(ngModel)]="loginModel.ruc"/> -->
                                        </div>
                                    </div>
                                </div>
                                <p class="category text-center cursorHover">
                                    <b>
                                        <a class="category text-center control-label" style="color: #000" (click)="verMac()">Ver MAC</a>
                                    </b>
                                </p>
                                <div class="footer text-right">
                                    <button type="button" (click)="iniciarSesion()" class="btn btn-info btn-simple btn-wd btn-lg" id="btnLogin">Iniciar Sesión</button>
                                    <!-- <button type="button" (click)="iniciarSesion()" class="btn btn-info btn-simple btn-wd btn-lg col-xs-6 col-md-6" id="btnLogin">Iniciar Sesión</button> -->
                                </div>
                                <!--
                                <div class="input-group">
                                        <span class="input-group-addon" style="background: transparent;">
                                        </span>
                                        <div class="form-group label-floating">
                                            <a href="#pablo">¿Olvidó su contraseña?</a>
                                        </div>
                                </div>
                                -->
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        <footer class="footer">
            <div class="container">
                <!--<nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Compañía
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portafolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>-->
                <p class="copyright text-center">
                    &copy;
                    {{test | date: 'yyyy'}}
                    <a href="https://www.creative-tim.com">Ebiz</a>, Latin Todos los derechos reservados.<br />
                    Contáctenos: 518 - 3360 | soluciones@ebizlatin.com | Chat en línea
                </p>
            </div>
        </footer>
    </div>
</div>



<div id="mdlOrganizacion" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

              <table>
                <tr>
                  <td>
                    <div class="card-header card-header-icon" data-background-color="blue">
                      <i class="material-icons"></i>
                    </div>
                  </td>
                  <td class="cell-title">
                    <div class="card-content">
                      <h4 class="card-title modal-title">Escoger Organización</h4>

                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-body">

              <div class="card-content">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Organización
                            <span class="star"></span>
                          </label>
                          <select id="org_id" name="org_id" class="form-control" [(ngModel)]="usuario.org_id" >

                                <option *ngFor="let option of organizaciones" value="{{option.id}}"> {{option.nombre}} </option>


                            </select>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"  (click)="AceptarOrganizacion($event)">Aceptar</button>

            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
