<div>
  <div >
    <div class="row col-md-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">{{'vistaPrevia' | translate}}</h4>
        </div>

        <div class="card-content">

          <div class="row">
            <div class="col-md-4 left">
                  <!-- <div class="logoVisualizar">
                    <img src="{{urlLogo}}">
                  </div> -->
              <label>
                <!-- Razon Social Proveedor -->
                <b>{{comprobante.razonSocialProveedor}}</b>
              </label>
              <br>
              <label>
                <!-- Direccion Proveedor -->
                <b>{{comprobante.direccionProveedor}}</b>
              </label>
            </div>
            <div class="col-md-4 col-md-offset-4 center">
              <div class="col-md-12 borde-simple">
                <label>
                  <!-- RUC + Número de Ruc -->
                  
                  <b>{{'ruc'| translate}}: {{comprobante.rucProveedorBase}}</b>
                </label>
                <br>
                <label>
                  <!-- Comprobante Electronico -->
                  <b *ngIf="this.tipoDocumento == this._tipos.TIPO_DOCUMENTO_FACTURA">{{'factura' | translate | uppercase}} {{'baseComprobanteElectronica' | translate | uppercase}}</b>
                  <b *ngIf="!(this.tipoDocumento == this._tipos.TIPO_DOCUMENTO_FACTURA)">{{'boletaVenta' | translate | uppercase}} {{'baseComprobanteElectronica' | translate | uppercase}}</b>
                </label>
                <br>
                <label>
                  <!-- Serie Label + Serie -->
                  <b>{{'serie'| translate}}: {{comprobante.serieNombre}}</b>
                </label>
              </div>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'senior'| translate}}</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{comprobante.razonSocialComprador}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <!-- <b>{{'ruc'| translate}}:</b> -->
                    <b *ngIf="this.tipoDocumento == this._tipos.TIPO_DOCUMENTO_FACTURA">{{'rucNumero'| translate}}:</b>
                      <b *ngIf="!(this.tipoDocumento == this._tipos.TIPO_DOCUMENTO_FACTURA)">
                        <ng-container [ngSwitch]="this.comprobante.documentoEntidad[1].tipoDocumento">
                          <b *ngSwitchCase="'1'">{{'dni'| translate | uppercase}}</b>
                          <b *ngSwitchCase="'4'">{{'carnetExtranjeria'| translate | uppercase}}</b>
                          <b *ngSwitchCase="'6'">{{'ruc'| translate | uppercase}}</b>
                          <b *ngSwitchCase="'7'">{{'pasaporte'| translate | uppercase}}</b>
                          <b *ngSwitchCase="'A'">{{'cedulaDiplomatica'| translate | uppercase}}</b>
                        </ng-container>
                      </b>
                    
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{comprobante.rucCompradorBase}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'domicilioFiscal' | translate}}:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{comprobante.documentoEntidad[1].direccionFiscal}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'fechaEmision' | translate}}:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{fechaEmision}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    <b>{{'tipoMoneda' | translate}}:</b>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>{{comprobante.moneda}}</label>
                </div>
              </div>
            </div>
          </div>
          <br>

        </div>

          <div class="row container-fluid" *ngIf="comprobante.documentoReferencia.length > 0">
            <div class="col-md-12 table responsive">
              <!-- <label><b>{{'documentosRelacionados' | translate}}</b></label> -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{{'documentosRelacionados' | translate}}</th>
                    <th>{{'montoAnticipo' | translate}}</th>
                    <th>{{'tipoDocumentoRelacionado' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of comprobante.documentoReferencia">
                    <td>{{item.nombreTipoDocumento}}</td>
                    <td>
                      {{item.serieDocumentoDestino + '-' + item.correlativoDocumentoDestino}}
                    </td>
                    <td>{{item.anticipo | number : 3.2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <app-data-table (iniciarData)="iniciarData($event)" #tablaVistaPrevia [habilitarAgregar]="false" [idTabla]="'tabla2'"
          [columnas]="columnasTabla" [habilitarAcciones]="false" [habilitarCheckBox]="false" [ordenarPorElCampo]="'codigoItem'" [ordenarAscendente]="true">
        </app-data-table>

        <div class="card-content">

          <br>
          <div class="row">
            <div class="col-md-1 col-lg-1">
              <label><b>Observación:</b></label>
            </div>
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-10 col-lg-10">
              <label>{{comprobante.observacionComprobante}}</label>
            </div>
          </div>
          <br>

          <!-- DETALLE COMPROBANTE-->
          <form [formGroup]="vistaPreviaFormGroup" (ngSubmit)="emitir()" novalidate>
            <div class="row align-right">
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblOperacionesGrabadas" name="lblOperacionesGrabadas" class="control-label">{{'operacionesGravadas' | translate}}</label>
                  <input type="text" id="txtOperacionesGrabadas" name="txtOperacionesGrabadas" formControlName="txtOperacionesGrabadas" class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblOperacionesInafectas" name="lblOperacionesInafectas" class="control-label">{{'operacionesInafectas' | translate}}</label>
                  <input type="text" id="txtOperacionesInafectas" name="txtOperacionesInafectas" formControlName="txtOperacionesInafectas"
                    class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblOperacionesExoneradas" name="lblOperacionesExoneradas" class="control-label">{{'operacionesExoneradas' | translate}}</label>
                  <input type="text" id="txtOperacionesExoneradas" name="txtOperacionesExoneradas" formControlName="txtOperacionesExoneradas"
                    class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblTotalDescuentos" name="lblTotalDescuentos" class="control-label">{{'totalDescuentos' | translate}}</label>
                  <input type="text" id="txtTotalDescuentos" name="txtTotalDescuentos" formControlName="txtTotalDescuentos" class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblSumatoriaOtrosTributos" name="lblSumatoriaOtrosTributos" class="control-label">{{'sumatoriaOtrosTributos' | translate}}</label>
                  <input precioDirectiva type="text" id="txtSumatoriaOtrosTributos" name="txtSumatoriaOtrosTributos" formControlName="txtSumatoriaOtrosTributos"
                    class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblSumatoriaOtrosCargos" name="lblSumatoriaOtrosCargos" class="control-label">{{'sumatoriaOtrosCargos' | translate}}</label>
                  <input precioDirectiva type="text" id="txtSumatoriaOtrosCargos" name="txtSumatoriaOtrosCargos" formControlName="txtSumatoriaOtrosCargos"
                    class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblTotalAnticipos" name="lblTotalAnticipos" class="control-label">{{'totalAnticipos' | translate}}</label>
                  <input type="text" id="txtTotalAnticipos" name="txtTotalAnticipos" formControlName="txtTotalAnticipos" class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblSumatoriaIsc" name="lblSumatoriaIsc" class="control-label">{{'sumatoriaIsc' | translate}}</label>
                  <input type="text" id="txtSumatoriaIsc" name="txtSumatoriaIsc" formControlName="txtSumatoriaIsc" class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblSumatoriaIgv" name="lblSumatoriaIgv" class="control-label">{{'sumatoriaIgv' | translate}}</label>
                  <input type="text" id="txtSumatoriaIgv" name="txtSumatoriaIgv" formControlName="txtSumatoriaIgv" class="form-control">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblSubTotal" name="lblSubTotal" class="control-label">{{'subTotal' | translate}}</label>
                  <input type="text" id="txtSubTotal" name="txtSubTotal" formControlName="txtSubTotal" class="form-control">
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 " *ngIf="flagFactura">
                <div class="form-group label-floating">
                  <label id="lblDetraccion" name="lblDetraccion" class="control-label">{{'detraccion' | translate}}</label>
                  <input type="text" id="txtDetraccion" name="txtDetraccion" formControlName="txtDetraccion" class="form-control">
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 ">
                <div class="form-group label-floating">
                  <label id="lblImporteTotal" name="lblImporteTotal" class="control-label">{{'importeTotal' | translate}}</label>
                  <input type="text" id="txtImporteTotal" name="txtImporteTotal" formControlName="txtImporteTotal" class="form-control">
                </div>
              </div>
            </div>
          <!-- FIN DETALLE COMPROBANTE-->

          <div  align="right">
            <button *ngIf="vistaPreviaFlag" type="button" class="btn btn-info blue" (click)="regresar()"> Regresar </button>
            <button type="submit" class="btn btn-info blue"> Emitir  </button>
          </div>

        </form>
        </div>
      </div>
    </div>
  </div>
</div>
